/* Error: Undefined variable.
 *     ,
 * 160 |   "secondary": shift-color($secondary, $table-bg-scale),
 *     |                                        ^^^^^^^^^^^^^^^
 *     '
 *   public\assets\sass\settings\_variables.scss 160:40              @import
 *   public\assets\sass\bootstrap-slider\bootstrap-slider.scss 41:9  @use
 *   public\assets\sass\style.scss 3:1                               root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Undefined variable.\a     \2577 \a 160 \2502    "secondary": shift-color($secondary, $table-bg-scale),\a     \2502                                         ^^^^^^^^^^^^^^^\a     \2575 \a   public\\assets\\sass\\settings\\_variables.scss 160:40              @import\a   public\\assets\\sass\\bootstrap-slider\\bootstrap-slider.scss 41:9  @use\a   public\\assets\\sass\\style.scss 3:1                               root stylesheet';
}
